
<header>

    <h1>{{title}}</h1>
    
 <div class="search-bar">
  <app-search-bar (searchItems)="searchResults($event)"></app-search-bar>
 </div>
    <h3><span i18n>Welcome </span>{{userName}}</h3>
    <button (click)="logout()" i18n>Logout</button>



</header>
<div class="main-box">
  <div class="sidebar">
      <button (click)="goHome()" i18n><i class="fas fa-home"></i> Home</button>
      <button (click)="openCart()" i18n><i class="fas fa-shopping-cart"></i> Cart</button>
      <button  (click)="fetchOrders()" i18n><i class="fas fa-box"></i> Orders</button>
      <button (click)="viewProfile()" i18n> <i class="fas fa-user"></i> Profile</button>
      
  </div>
<app-item-card [itemData]="itemData" *ngIf="home"></app-item-card>
  <app-orders *ngIf="ordersVisible"></app-orders>
  <app-cart  *ngIf="cartVisible" [cartItems]="cartItems" [cartValue]="cartValue" (visible)="cartVisiblity()" (purchase)="showPurchaseMessage()"></app-cart>
</div>
