
<header>
    <h1>{{title}}</h1>

    <!-- <h3 *ngIf="language === 'en'; else hindiTemplate" i18n>Welcome {{ userName | titlecase }}!</h3>
<ng-template #hindiTemplate>
  <h3><span i18n>Welcome </span>{{ hindiName }}!</h3>
</ng-template> -->
     <h3><span i18n>Welcome </span>{{userName}}</h3>
    <button (click)="logout()" i18n>Logout</button>
</header>
<div class="operations">
    <button  (click)="fetchData()" i18n>Get Items</button>
    <button (click)="pageData()" i18n>Get Paginated Items</button>
    <button (click)="onGetItem()" i18n>Get Item</button>
    <button (click)="onInsertData()" i18n>Insert Item</button>
    <button (click)="onBulkInsert()" i18n>Bulk Insert Items</button>
    <button (click)="onUpdateData()" i18n>Update Item</button>
      <button (click)="onDeleteData()" i18n>Delete Item</button>
</div>
<div class="operations">
    <button  (click)="fetchUsers()" i18n>Get Users</button>
    <button (click)="onGetUserByUsername()" i18n>Get User By Username</button>
    <button (click)="onGetUserById()" i18n>Get User By Id</button>
    <button (click)="onDeleteUser()" i18n>Delete User By Username</button>
    <button (click)="fetchOrders()">Get Orders</button>
</div>
    <app-grid-items *ngIf="selected === 'fetch'" [itemData]="itemData"></app-grid-items>
    <app-page-items *ngIf="selected === 'page'"></app-page-items>
    <app-grid-users *ngIf="selected === 'fetchUsers'" [userData]="userData"></app-grid-users>
    <app-grid-orders *ngIf="selected === 'fetchOrders'" [orderData]="orderData"></app-grid-orders>
<div class="form-grid">
    <div class="item-grid">
        <app-upload *ngIf="selected==='upload'" (onUploadFinish)="uploadFinished($event)"></app-upload>
        <app-update-items *ngIf="selected === 'update'"  [buttonName]="buttonName" (update)="updateData($event)"></app-update-items>
        <app-update-items *ngIf="selected === 'insert'" [buttonName]="buttonName" (update)="insertData($event)"></app-update-items>
        <app-delete-item *ngIf="selected === 'delete'" [buttonName]="buttonName" (delete)="deleteData($event)"></app-delete-item>
        <app-delete-item *ngIf="selected === 'getItem'" [buttonName]="buttonName" (delete)="getItem($event)"></app-delete-item>

        <app-delete-user *ngIf="selected === 'getByUsername'" [buttonName]="buttonName" (delete)="getUserByName($event)"></app-delete-user>
        <app-delete-user *ngIf="selected === 'getById'" [buttonName]="buttonName" (delete)="getUserById($event)"></app-delete-user>
        <app-delete-user *ngIf="selected === 'deleteUser'" [buttonName]="buttonName" (delete)="deleteUser($event)"></app-delete-user>
    </div>
    <div *ngIf="selected==='doneGetItem'" class="get-item">
        <div *ngFor="let entry of itemEntries">
            <div *ngIf="entry[0]=='image'&&entry[1]; else other">
                <img [src]="'data:image/png;base64,' + entry[1]" alt="Item Image" />
            </div>
            <ng-template #other>
                <p>{{ entry[0] }}: {{ entry[1] }}</p>
            </ng-template>
            
        </div>
    </div>
    <div *ngIf="selected==='doneGetUser'" class="get-item">
        <div *ngFor="let entry of userEntries">
            <p>{{ entry[0] }}: {{ entry[1] }}</p>
        </div>
    </div>
    <app-success-message *ngIf="message !== ''" [message]="message"></app-success-message>
</div>
  
