
<header>
    <h1>{{title}}</h1>
    <h3>Welcome User!</h3>
</header>
<div class="operations">

    <button (click)="fetchData()">Get Items</button>
    <button (click)="pageData()">Get Paginated Items</button>
    <button (click)="onGetItem()">Get Item</button>
    <button (click)="onInsertData()">Insert Item</button>
    <button (click)="onBulkInsert()">Bulk Insert Items</button>
    <button (click)="onUpdateData()">Update Item</button>
    <button (click)="onDeleteData()">Delete Item</button>
    
</div>




    <app-grid-items *ngIf="selected === 'fetch'" [itemData]="itemData"></app-grid-items>
    <app-page-items *ngIf="selected === 'page'"></app-page-items>
<div class="form-grid">
    <div class="item-grid">
        <app-upload *ngIf="selected==='upload'" (onUploadFinish)="uploadFinished($event)"></app-upload>
        <app-update-items *ngIf="selected === 'update'"  [buttonName]="'Update'"  (update)="updateData($event)"></app-update-items>
        <app-update-items *ngIf="selected === 'insert'" [buttonName]="'Insert'" (update)="insertData($event)"></app-update-items>
        <app-delete-item *ngIf="selected === 'delete'" [buttonName]="'Delete'" (delete)="deleteData($event)"></app-delete-item>
        <app-delete-item *ngIf="selected === 'getItem'" [buttonName]="'Get Item'" (delete)="getItem($event)"></app-delete-item>
    </div>
    <div *ngIf="selected==='doneGetItem'" class="get-item">
        <div *ngFor="let entry of itemEntries">
            <p>{{ entry[0] }}: {{ entry[1] }}</p>
        </div>
    </div>
    
    <app-success-message *ngIf="message !== ''" [message]="message"></app-success-message>
</div>
  
