
.ag-theme-alpine {
  height:35rem;  
    --ag-background-color: #f8f9fa;
    --ag-header-background-color: #EECEB9;
    --ag-row-hover-color: #BB9AB1;
    --ag-header-foreground-color:black;
    --ag-selected-row-background-color: #007bff;
    --ag-odd-row-background-color: white;
    --ag-even-row-background-color: #FEFBD8;
  }
  
  .ag-header-cell {
    background-color: var(--ag-header-background-color);
    color: var(--ag-header-foreground-color);
  }
  
  .ag-row:hover {
    background-color: var(--ag-row-hover-color) !important;
  }
  
  .ag-row-even {
    background-color: var(--ag-even-row-background-color) !important;
  }
  
  .ag-row-odd {
    background-color: var(--ag-odd-row-background-color) !important;
  }
  
  .ag-row-selected {
    background-color: var(--ag-selected-row-background-color) !important;
    color: #ffffff !important;
  }
