<div class="update-items">
    <form class="form-items" (ngSubmit)="onSubmit()">
        <p *ngIf="buttonName=='Get User By Id'; else showName">
            <label for="id" i18n>Id</label>
            <input type="number" id="id" name="id" [(ngModel)]="id" />
        </p>
        <ng-template #showName>
            <p>
                <label for="name" i18n>Name</label>
                <input type="string" id="name" name="name" [(ngModel)]="username" />
            </p>
        </ng-template>
      

        <p class="actions">
           <button type="submit">{{buttonName}}</button>
        </p>
      </form>
      <app-error-message *ngIf="displayError" [message]="message"/>
    </div>
