
html, body { height: 100%; 
background-color:#aa95aa ;}
body { margin: 0;  font-family: "DM Sans", 'Times New Roman', Times, serif; }

html, body { height: 100%; }
body { margin: 0;   font-family: "DM Sans", 'Times New Roman', Times, serif; }

