
<header>
    <h1>{{title}}</h1>

    <!-- <h3 *ngIf="language === 'en'; else hindiTemplate" i18n>Welcome {{ username | titlecase }}!</h3>
<ng-template #hindiTemplate>
  <h3><span i18n>Welcome </span>{{ hindiName }}!</h3>
</ng-template>
 -->
 <h3><span i18n>Welcome </span>{{userName}}</h3>
 <button (click)="logout()" i18n>Logout</button>
</header>

<div class="operations">

    <button  (click)="fetchData()" i18n>Get Items</button>
    <button (click)="pageData()" i18n>Get Paginated Items</button>
    <button (click)="onGetItem()" i18n>Get Item</button>
</div>

    <app-grid-items *ngIf="selected === 'fetch'" [itemData]="itemData"></app-grid-items>
    <app-page-items *ngIf="selected === 'page'"></app-page-items>
<div class="form-grid">
    <div class="item-grid">
        <app-delete-item *ngIf="selected === 'getItem'" [buttonName]="buttonName" (delete)="getItem($event)"></app-delete-item>
    </div>
    <div *ngIf="selected==='doneGetItem'" class="get-item">
        <div *ngFor="let entry of itemEntries">
            <p>{{ entry[0] }}: {{ entry[1] }}</p>
        </div>
    </div>
    
    <app-success-message *ngIf="message !== ''" [message]="message"></app-success-message>
</div>
  
