
header{
    display: flex;
    background-color: #433352;
    color: white;
    align-items: center;
    padding: 1rem;
}
header h1{
    padding: 0.4rem;
    font-weight:500;
}
header h3{
margin-top: auto;
margin-left: auto;
padding:0.4rem;
font-weight:500;
}
header button{
margin-top: auto;
background-color: #EECEB9;
color: #433352;
cursor: pointer;
font-family: Georgia, 'Times New Roman', Times, serif;
padding: 0.5rem;
margin-left: 2rem;
font-size: medium;
}
header button:hover,
header button:active,
.active {
  background-color: #69506b;
  color: white;
}


.operations{
    display: flex;
    flex-wrap: wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;


}
.operations button{

    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 0.5rem;
    background-color: #69506b;
    color: white;
    border: none;
    font: inherit;
    cursor: pointer;
    flex: 1 1 auto;
    min-width: 10 rem;
    text-align: left;
  

}
.operations button:hover,
.operations button:active,
.active {
  background-color: #EECEB9;
  color: #433352;
}

.item-grid{
    margin: 1rem;
    padding: 1rem;
}

.form-grid{
display: flex;
justify-content: center;
align-content: center;
}
.get-item {
    background-color: #433352;
    color: white;
    font-size: medium;
    display: inline-block;
    flex-direction: column;
    align-content: center;
    margin: 2rem;
    padding:1rem;
    text-align: left;
  }
  
  .get-item pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    white-space: pre-wrap;
  }