<div *ngIf="loading" class="text-center my-3">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!loading">
  <div class="container mt-3" *ngIf="itemData.length > 0; else noResult">
    <div class="row g-3">
      <div *ngFor="let item of itemData" class="col-6 col-md-4 col-lg-3 position-relative">
        <div class="card h-100 shadow-sm text-center item-card" 
             (mouseover)="hoverItem = item" 
             (mouseleave)="hoverItem = null"> 
      
          <div *ngIf="!category" class="card-header bg-light fs-8">
            {{ item.type }}
          </div>

          <div class="card-body mt-3">
            <div class="item-image-wrapper">
              <img class="card-img-top" style="width: 150px; height: 150px;" 
                   [src]="'data:image/jfif;base64,' + item.image" 
                   alt="{{ item.name }}">
            </div>
            <h5 class="card-title mt-2">{{ item.name }}</h5>
            <p class="card-text">Price: {{ item.price }}</p>
            <button (click)="addToCart(item)" class="btn btn-primary">Add to Cart</button>
          </div>
        </div>

        <!-- Tooltip-like container for enlarged image and description -->
        <div class="hover-tooltip" *ngIf="hoverItem === item">
          <img [src]="'data:image/jfif;base64,' + item.image" alt="{{ item.name }}" class="hover-image">
          <div class="hover-description">{{ item.description }}</div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noResult>
    <div class="alert alert-warning text-center">
      No results found!
    </div>
  </ng-template>
</div>







