.update-items{
    color: white;
    padding:1rem;
    background-color: #433352;
    display: inline-block; 
}

.form-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Space between form items */
    padding: 1.7rem;
}

.form-items p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem; /* Space between label and input */
  }
  .form-items label {
    font-weight: bold;
    margin-bottom: 5px; /* Space between label and input */
  }

  .form-items input {
    width: 100%;
    max-width: 20rem; /* Optional: max width for inputs */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .actions {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px; /* Space above the button */
  }
  
  .actions button {
    padding: 10px 20px;
    background-color:#EECEB9 ; /* Primary button color */
    color: black;
    border: none;
    font: inherit;
    font-weight: bold;
    font-size: medium;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .actions button:hover {
    background-color: #987D9A; /* Darker shade on hover */
    color: white;
}